#weatherbox{
    margin-top: 80px;
   
}

.sunny{
    background: url('https://images.unsplash.com/photo-1414269665217-a57681e266b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=6fd9f051bea811268593340698b6a822');
}

.shower{
    background: url('https://i.ytimg.com/vi/lOt_3tg83Ls/maxresdefault.jpg');
    

}

.shower1{
    background: url('https://images.unsplash.com/photo-1428592953211-077101b2021b?ixlib=r0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=9dee70ba78c49619bc7f5c8a91778f2b')repeat;

}

.snow{
    background: url('https://tripswithtots.files.wordpress.com/2013/01/fence-and-snowy-fields1.jpg')
}

h1{
    color: #d9e2da;
    font-family: 'Lora', serif;
    font-weight: bold;
}

.temp{
    color: #d9e2da;
    font-weight: bold;
}

.contain{
    position: relative;
}

.imageIcon{
    position: absolute;
    left:625px;
    bottom: 7px;
}

p{
    font-size: 20px;
}

span{
   font-family: 'Antic Slab', serif;
}

.test{
    color: chartreuse;
}
