body{
	background-color: purple;
}
#quoteBox{
	background-color: #fff;
	/*margin-top: 100px;*/
	/*margin: 100px 0 auto auto;*/
	margin: 8% auto auto auto;
	width: 450px;
	border-radius: 10px;

}
footer{
	margin-top: 10px;
	color: white;
}