body{
	background-color: #3C3024;
	margin-top: 50px;

}
h1{
	font-family: 'Indie Flower', cursive;
	color: #fff;
	font-size: 6em;
}
h2{
	color: #fff;
	font-size: 5em;
}
h3{
	font-family: 'Indie Flower', cursive;
	color: #fff;
	font-size: 3em;
}
.box1{
	margin-top: 50px;
	margin-bottom: 90px;
}
footer{
	color: #000;
	margin-top:5px;
}
b{
	color: #000	;
}
hr.style1{
	border-top: 1px solid #8c8b8b;
	margin-top: 90px;
	margin-bottom: 5px;
}
footer i{
	color: #000;

}